language: go

sudo: required

services:
  - docker

addons:
  ssh_known_hosts: app.trashdiena.fun

before_install:
  - openssl aes-256-cbc -K $encrypted_0c35eebf403c_key -iv $encrypted_0c35eebf403c_iv -in .travis/rsa.enc -out /tmp/rsa -d
  - eval "$(ssh-agent -s)"
  - chmod 600 /tmp/rsa
  - ssh-add /tmp/rsa

script:
  - go get -v github.com/golang/dep/cmd/dep
  - dep ensure
  - make test

after_success:
  - if [ -n "$TRAVIS_TAG" ]; then
    docker login -u "$DOCKER_USERNAME" -p "$DOCKER_PASSWORD";
    docker build -t skibish/trashdiena:$TRAVIS_TAG -t skibish/trashdiena:latest .;
    docker push skibish/trashdiena:$TRAVIS_TAG;
    docker push skibish/trashdiena:latest;
    ssh -i /tmp/rsa $DEPLOY_USER@app.trashdiena.fun "/opt/app/update-stack.sh $TRAVIS_TAG"
    fi
